x64/Release/REvengeCS.exe
x64/Release/REvengeCS.pdb
x64/Release/intermediate/
x64/Release/imgui.ini
x64/Release/revengecs.cfg
x64/Release/debug_skins.log
x64/Release/skinchanger_dump.txt
REVENGE_CS_Setup_*.exe
*.obj
*.recipe
*.log
*.binlog
*.ilk
*.tlog
*.iobj
*.ipdb
revengecs.cfg
imgui.ini
